USE [master]
GO
/****** Object:  Database [DBHash]    Script Date: 3/14/2017 3:59:39 AM ******/
CREATE DATABASE [DBHash]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBHash', FILENAME = N'C:\DBHash.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBHash_log', FILENAME = N'C:\DBHash_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBHash].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBHash]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/14/2017 3:59:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[UserGuid] [uniqueidentifier] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
